# requirements.txt
streamlit==1.32.0
groq==0.15.0
numpy==1.26.4
sounddevice==0.4.6
soundfile==0.12.1
transformers==4.37.2
torch==2.2.0
torchaudio==2.2.0
datasets==2.16.1
accelerate==0.27.2
sentencepiece==0.2.0
protobuf==4.25.2
python-dotenv==1.0.0
googletrans==3.1.0a0
librosa==0.10.1